@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
  border: 2px solid #000;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
  #faq {
    margin-top: 10rem;
  }
}
